<div class="navbar-wrap">
    <div class="navbar">
        <a class="logo" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">           
            <img src="/assets/img/navbar/logo.png" alt="user-avt">
        </a>
            <form action="" class="navbar-search" (submit)="getProduct()">
                <i class="pi pi-search navbar-search-icon" style=" color: #666"></i>
                <input type="text" placeholder="Nhập tên sản phẩm bạn muốn tìm?" name="search" [(ngModel)]="value"/>
                <button type="submit">Tìm kiếm</button>
            </form>
        <div class="navbar-user">
            <div class="cart">
                <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page"> 
                    <i class="pi pi-shopping-cart" pBadge value="{{ quantity }}" severity="success"></i>
                </a>
               
            </div>
            <div class="user-avt">
                <img src="assets/img/navbar/user-avt.jpg" alt="user-avt">
            </div>
        </div>
    </div>
</div>